# Build-Verzeichnisse
.next/
out/

# Node-Module
node_modules/

# TypeScript-Definitionen
*.d.ts

# Test-Dateien
**/__tests__/
**/*.test.ts
**/*.test.tsx

# Konfigurationsdateien
*.config.js
*.config.ts

# Statische Assets
public/ 