/* variables.scss */

// Farben
$primary-color: #2E7D32; 
$secondary-color: #FFB74D;
$accent-color: #455A64;
$error-color: #FF1744;
$warning-color: #FFC107;
$info-color: #00ACC1;
$success-color: #00C853;
$background-color: #C8E6C9;
$on-background-color: #212121;

// Schriftarten und Schriftgrößen
$font-family: 'Roboto', sans-serif;
$font-size: 1rem;
$font-size-large: 2.5rem;
$font-size-small: 0.875rem;
